* {
    margin: 0;
    padding: 0;
    font-size: 30pt;
    color: var(--font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body, html {
    --bg-color: white;
    --font-color: black;
    --border-color: lightgray;
    background-color: var(--bg-color);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

body.dark {
    --bg-color: black;
    --font-color: white;
    --border-color: darkslategray;
    .darkmode {
        img {
            filter: invert(1);
        }
    }
}

.darkmode {
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: var(--bg-color);
    top: 1%;
    left: 1%;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    user-select: none;
    img {
        height: 25px;
    }
}

button {
    background-color: var(--bg-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 50px;
    outline: none;
}

.display {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    position: relative;
    .input, .result{
        width: 100%;
        padding: 5px 10px;
        text-align: right;
    }
    .animation {
        position: absolute;
        z-index: 2;
        align-self: flex-end;
        opacity: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 100% 0 0 0;
        transform-origin: bottom right;
        transform: scale(0);
        transition: transform opacity 0.6s ease-in-out;
        background-color: var(--border-color);
    }
}

.keys {
    display: flex;
    flex: 1;
    .col {
        display: flex;
        flex-direction: column;
        flex: 1;
        button {
            padding: 10px 0;
            margin: 5px 5px;
            flex: 1;
            &:active {
                background-color: var(--border-color);
            }
        }
    }
}

@media (max-width: 768px){
    * {
        font-size: 21pt;
    }

    body,html {
        flex-direction: column;
    }

    .keys{
        button{
            padding: 20% 0;
        }
    }
}